@import "core/fonts";
@import "core/variables";
body{
  font-family: $main-font-family;
  padding-bottom: 65px;
}
@import "modules/border-styles";
@import "modules/header";
@import "modules/about";
@import "modules/services";
@import "modules/footer";

.main-title{
  font-family: $main-font-family;
  color:$secondary-color;
  text-align: center;

}