.contact{
  .contact-container{
    .contact-info{
      .form-group{
        i{
          margin-right: 5px;
          font-size: 22px;
        }
        .contact-info-text{
          font-size: 18px;
          font-weight: 500;
          font-family: $main-font-family;

        }
      }
    }
    .contact-form{

    }
  }
}